body {
	font-size: 14px;
	font-family: Arial, Helvetica, sans-serif;
  color: #222;
  background-color: #fff;
}
#container {
  min-width: 250px;
  max-width: 600px;
  margin: 0 auto;
	padding: 0 10px;
}
input, button {
    margin: 0;
    padding: 2px 4px;
    vertical-align: middle;
    font-size: 14px;
}
input {
	border: 2px solid #666;
	height: 20px;
  color: #000;
  background-color: #fff;
  font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;
  font-weight: 600;
}
input:hover,
input:focus,
input:active {
	border: 2px solid #09f;
	outline: none;
}
button {
	background: #09f;
	color: #fff;
	border: none;
  min-width: 100px;
	height: 30px;
	padding: 4px 10px;
  margin: 0 5px;
}
a {
	color: #09f;
}
a.icon {
  display: inline-block;
  float: right;
  font-size: 19px;
  color: #09f;
  text-decoration: none;
}
h2 {
	text-align: center;
}
h4 {
  margin: 1em 0;
  font-size: 20px;
  overflow: hidden;
}
ul {
	padding: 0;
	list-style: none;
}
li {
	padding: 0;
	margin: 0 0 10px 0;
	text-align: right;
}
hr {
    border: 0;
    height: 1px;
    background: #666;
    background-image: linear-gradient(to right, #ccc, #666, #ccc);
}
.center {
	text-align: center;
}
.opt_name {
	padding-top: 5px;
	float: left;
}
.hidden {
	display: none;
}
.pwg_error {
	border: 2px solid #c00;
}
#pwg_msg {
	color: #c00;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 2px;
  bottom: 2px;
  background-color: #fff;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #09f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #09f;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 20px;
}

.slider.round:before {
  border-radius: 50%;
}